<article cdkDrag
  class="relative p-3 mt-2 overflow-hidden duration-150 shadow cursor-pointer rounded-3xl bg-zinc-800 hover:bg-opacity-65 group/item"
  (click)="toggleOpen()">
  <ng-content></ng-content>
  <div class="absolute hidden px-1 space-x-2 text-sm duration-150 rounded-full group-hover/item:inline end-5">
    <span class="duration-150 hover:text-blue-500" (click)="editItem()">
      <fa-icon [icon]="faEdit" />
    </span>
    <span class="duration-150 hover:text-red-500" (click)="removeItem()">
      <fa-icon [icon]="faXmark" />
    </span>
  </div>
</article>